<!DOCTYPE html>
<html>
<head>
  <title>Living under a Rock</title>
</head>
<body>
<div class="boxe container">
  <h1>Living under a rock?</h1>
  <p>Well, here's what we can do for you. As a user of this website, you can choose a from subjects and we'll bring back a list of headlines that will update what you've missed out on in the past while!</p>

</div>
</body>
</html>


